<h1>Real Estate Heroes</h1>

<p>
  Can you find the cheapest housing in Portland? NO! That's why we have local heroes here to help. Start a squad, and choose your heroes to see if your team can find it.
</p>

<a href="/squads">Squads</a>
