<h1>Build your Squad</h1>

<form action="/squads" method="post">
  <label for="squadName"></label>
  <input type="text" name="squadName" id="squadName">

  <button type="submit" name="button">Submit Squad</button>

</form>
